.picture{
    width:300px;
    height:200px;
    text-align: center;
}

.info_box{
    justify-content: center;
}
.info a{
    font-size:16px;
}

.info {
    float: left;
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    padding: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: left;
}