

<section id="profile">
    <div class="com-container">
        <h2 class="com-heading">作成者</h2>
        <div class="profile-group clearfix">
            <div class="left-content">
                <div class="my-face"></div>
            </div>
            <div class="right-content">
                <h3 class="discription-title">松江市在住Mさん<br></h3>
                <p class="discription-text">26歳無職（ニート）<br></p>
            </div>
        </div>
    </div>
</section>

<!-- <div id="page_top"><a href="#"></a></div> -->
<a href="#" class="page_top_btn"></a>
<footer>
    <p class="copyright">Copyright © 2023 y.m</p>
</footer>
